@font-face {
    font-family: "ocra";
    src: url("ocr-a.ttf") format("truetype");
}

@font-face {
    font-family: "eurostyle";
    src: url("eurostyle.ttf") format("truetype");
}

@font-face {
    font-family: "microstyle";
    src: url("microstyle.otf");
}

body{
	font-family: "ocra", Verdana, Tahoma;
	background: black;
	
	line-height: 1.3em;
    font-size: 1.5em;
}

#inputField{
    display: block;
    margin-top: -15px;
}

.input{
	color: white;
	
	margin-top: -15px;
	margin-bottom: -15px;
}

.color_one{
	color: white;
	display: block;
	
	margin-top: -15px;
	margin-bottom: -15px;
}

.color_two{
	color: #ffbc00;
	display: block;
	
	margin-top: -15px;
	margin-bottom: -15px;
}

.color_three{
	color: blue;
	display: block;
	
	margin-top: -15px;
	margin-bottom: -15px;
}

.flag{
	font-family: "microstyle", Verdana, Tahoma;
	color: black;
	background-color: #ffbc00;
	padding: 15px 15px 12px 15px;
	font-size: 2em;
	line-height: 1.7em;
	
	display: block;
	
	position: relative;
    top: 2px;
	
	margin-top: -15px;
	margin-bottom: -15px;
}

.highlight{
	font-family: "microstyle", Verdana, Tahoma;
    color: black;
    background-color: white;
    padding: 5px 0px 0px 15px;
    font-size: 1.3em;
	
	display: block;
	
	position: relative;
    top: 2px;
	
	margin-top: -15px;
	margin-bottom: -15px;
}

.highlight_big{
	font-family: "microstyle", Verdana, Tahoma;
	color: black;
	background-color: white;
	padding: 15px 15px 12px 15px;
	font-size: 2em;
	line-height: 1.7em;
	
	display: block;
	
	position: relative;
    top: 2px;
	
	margin-top: -15px;
	margin-bottom: -15px;
}

.error{
	font-family: "microstyle", Verdana, Tahoma;
	color: black;
	background-color: #ff0000;
	padding: 15px 15px 12px 15px;
	font-size: 2em;
	line-height: 1.7em;
	
	display: block;
	
	position: relative;
    top: 2px;
	
	margin-top: -15px;
	margin-bottom: -15px;
}

#container{
	width: 100%;
	height: 100%;
	z-index: 0;
	margin: 0 auto;
}

@media screen and (min-width: 1000px) {
	#container{
		width: 50%;
		margin: 0 auto;
	}
}

canvas{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}